{% extends '::content-backend.html.twig' %}

{% block title %}

    {{ 'page.questions'|trans }}
{% endblock %}
{% block hiarche %}
<div class="page-content" style="min-height: 930px; ">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('questions_index' ) }}"> <span>

                        {{ 'page.questions'|trans }}
                    </span></a>
            </li>
        </ul>
    </div>
    {% endblock %}
    {% block body %}


        {% for flashMessage in app.session.flashbag.get('questionsuccess') %}
            <br/>
            <div class="alert alert-success alert-block"><a href="#" data-dismiss="alert" class="close">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green">
                            <i class="icon-users font-green"></i>
                            <span class="caption-subject bold uppercase">
                               Liste des Questions</span>
                        </div>

                        <a  href="{{ path('questions_createOrUpdate') }}"
                           class="btn btn-primary center-btn" style="  display: block;  margin : auto; width: 200px"> <i class="fa fa-plus"></i> &nbsp;Ajouter   </a>
                        <div class="tools"></div>

                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%"
                               id="sample_3">
                            <thead>
                            <tr>
                                <th> N°</th>
                                <th>  {{ 'form.question'|trans }}</th>
                                <th>  Liste des réponse </th>
                                <th> {{ 'form.action'|trans }} </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in questions %}
                                <tr>
                                    <td>
                                        {{ loop.index }}
                                    </td>
                                    <td>{{ entity.question }}</td>
                                    <td>
                                    {% if entity.response|length > 0  %}
                                            <ul>
                                            {% for item in entity.response %}
                                            <li>{{ "Réponse : " ~ item.title  }} </li>
                                            <li>{{  "  Nbr de Kg : " ~ item.nbrKg }}  </li>
                                             <a href="{{ path('delete_response',{'id': item.id }) }}" style="color: red; margin-left: 10px; float: right;">{{ 'btn.remove'|trans }}</a>
                                         <hr/>
                                            {% endfor %}
                                            </ul>

                                      {% endif %}
                                            </td>
                                    <td>

                                        <a title=" {{ "btn.edit"|trans }}" href="{{ path('questions_createOrUpdate', {'id': entity.id}) }}" class="btn btn-outline btn-circle btn-sm blue">
                                            <i class="fa fa-edit"></i>  {{ "btn.edit"|trans }}</a>


                                        <a href="#myModal{{ entity.id }}" data-toggle="modal"
                                           class="btn btn-outline btn-circle dark btn-sm black">
                                            <i class="fa fa-trash-o"></i>{{ 'btn.remove'|trans }}  </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        {% for entity in questions %}
            <!-- Modal -->
            <div class="modal fade" id="myModal{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title">  {{ 'message_alert_remove'|trans }}</h2>
                        </div>
                        <div class="modal-body">
                            <h2>  {{ 'message_validation_remove'|trans }} </h2>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal"> {{ 'btn.cancel'|trans }}  </button>
                            <a href="{{ path('questions_delete', {'id': entity.id}) }}">
                                <button type="button" class="btn btn-danger"><i
                                            class="fa fa-trash"></i> {{ 'btn.remove'|trans }} </button>
                            </a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endfor %}
    {% endblock %}