<!DOCTYPE html>
{% spaceless %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="VIP Crossing"/>
    <meta name="generator" content="Symfony" />
    <meta name="copyright" content="VIP Crossing" />
      
    {% block  meta %}
      <meta property="og:url" content="https://vipcrossing.com"/>
      <meta property="og:title" content="VIP Crossing"/>
      <meta property="og:image" content="{{ path_picture|getImageDefault()}}"/>
     
      {{ render(controller( 'FrontBundle:Front:referancement' ,  { 'type': "ref_home" }   )) }}
    {% endblock %}
   
    <title>{% if app.user != null  and  app.user.id|alertTitle > 0 %} ({{   app.user.id|alertTitle   }}) {% endif %}{% block title %}{% endblock %}</title>



    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- Bootstrap Core CSS -->

    <link href="{{ asset('dev/front/css/bootstrap.min.css') }}" rel="stylesheet">
    {% block stylesheets %}
        <link href="{{ asset('dev/front/css/crop-save.css') }}" rel="stylesheet">

    {% endblock %}
    <link href="{{ asset('dev/front/css/material-design-iconic-font.min.css') }}" rel="stylesheet">

    <!--<link href="{{ asset('dev/front/css/scrollPress.min.css') }}" rel="stylesheet">-->
    <link href="{{ asset('dev/front/js/fancybox.2.1.5/jquery.fancybox.css') }}" rel="stylesheet">
    <!--<link href="{{ asset('dev/front/css/styles.css') }}" rel="stylesheet">-->


    <link href="{{ asset('assets/css/style-front.min.css') }}" rel="stylesheet">


    <link href="{{ asset('dev/front/css/slim.min.css') }}" rel="stylesheet">
    <!-- Owl Style pour gallerie accueil -->
    <link href="{{ asset('dev/front/css/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ asset('dev/front/css/owl.theme.default.css') }}" rel="stylesheet">
    <link href="{{ asset('dev/front/css/tweet.css') }}" rel="stylesheet">
    <link href="{{ asset('dev/front/css/jScrollPane.css') }}" rel="stylesheet">
<link href="{{ asset('dev/front/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
<link href="{{ asset('dev/front/css/imgal.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    <style>

        
        .img-screen {

            z-index: 0 !important;
        }



        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
            color: #FFFFFF !important;
            cursor: default !important;
            background-color:#fc5722 !important;
            border: 1px solid #ddd !important;
            border-bottom-color: transparent !important;
        }
    </style>
    {% block style %}

    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104964506-9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-104964506-9');
    </script>
    <script data-ad-client="ca-pub-7130824655887788" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="canonical" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>

</head>


{% block contentbody %}
{% endblock %}


<!-- Fin Footer -->
<!-- jQuery Version 1.11.1 -->
<script src="{{ asset('dev/front/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('dev/front/js/jquery.slimscroll.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('dev/front/js/jquery.mousewheel.pack.js') }}"></script>
<script type="text/javascript" src="{{ asset('dev/front/js/fancybox.2.1.5/jquery.fancybox.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('dev/front/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('dev/front/js/jquery.fancybox.js?v=2.1.5') }}"></script>

{% block javascriptsblock %}{% endblock %}
<script>
$(document).ready(function() {
 $('.fancybox').fancybox({
  beforeShow : function(){
   this.title =  this.title + " - " + $(this.element).data("caption");
  }
 });
}); // ready
</script>

<!-- ckeditor -->
<script type="text/javascript" src="{{ asset('dev/back/ckfinder/ckfinder.js') }}"></script>
<script src="{{ asset('dev/back/ckeditor/ckeditor.js') }}"></script>
<!-- Owl JS pour gallerie accueil -->
<script src="{{ asset('dev/front/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('dev/front/js/jquery.easing-1.3.min.js') }}"></script>{#
<script src="{{ asset('dev/front/js/slim.kickstart.min.js') }}" ></script>#}
<script src="{{ asset('dev/front/js/slim.kickstart.js') }}" ></script>
<script type="text/javascript" src="{{ asset('dev/front/js/bootstrap_file_field.js') }}"></script>
<!-- Main Script -->
<script src="{{ asset('dev/front/js/resize-image.js') }}"></script>
<script src="{{ asset('dev/front/js/main.js') }}"></script>
<script src="{{ asset('dev/front/js/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('dev/front/js/jScrollPane.min.js') }}"></script>
<script src="https://platform.twitter.com/widgets.js"></script>

  <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
 <script src="{{ asset('dev/front/js/scriptCollection.js') }}"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
 <script>
     function showMedia(typeVideo) {
         $('#sourcevideoVipError').hide();
         $('#mediaVidoeError').hide();
         $('#mediaMP3Error').hide();
         $('#imageMediaMP3Error').hide();
         $('#mediaBookError').hide();
         $('#mediapathBookError').hide();
         if (typeVideo == 1) {
             $('#statusMedia').hide();
             $('#upload-mediaVidoe').hide();
             $('#image-mediaMP3').hide();
             $('#upload-mediaMP3').hide();
             $('#upload-book').hide();
             $('#upload-book-image-couverture').hide();
             $('#description-book').hide();
             $('#contenu-book').hide();
             $('#date-sortie-book').hide();
             $('#edition-book').hide();
        //     $('#price-book').hide();

             $('#blockModeVideo').show();
             $('#sourcevideoVip').show();

             $('#upload-book-image-bd').hide();
             $('#text_typeVideo_sourcevideo').show();
             $('#text_typeVideo_video_mp4').hide();
             $('#text_liver_bd').hide();
             $('#text_typeVideo_audio').hide();
             $('#text_typeVideo_livre').hide();
             $('#text_typeVideo_message_contes_histoires_enfants').hide();
             $('#text_typeVideo_audio_enfant').hide();
             $('#text_typeVideo_message_contes_histoires').hide();
         }
         else if (typeVideo == 2) {
             $('#statusMedia').hide();
             $('#sourcevideoVip').hide();
             $('#image-mediaMP3').hide();
             $('#upload-mediaMP3').hide();
             $('#upload-book').hide();
             $('#upload-book-image-couverture').hide();
             $('#description-book').hide();
             $('#contenu-book').hide();
             $('#date-sortie-book').hide();
             $('#edition-book').hide();
         //    $('#price-book').hide();
             $('#blockModeVideo').show();
             $('#upload-mediaVidoe').show();


             $('#upload-book-image-bd').hide();
             $('#text_liver_bd').hide();
             $('#text_typeVideo_message_contes_histoires_enfants').hide();
             $('#text_typeVideo_sourcevideo').hide();
             $('#text_typeVideo_video_mp4').show();
             $('#text_typeVideo_audio').hide();
             $('#text_typeVideo_livre').hide();
             $('#text_typeVideo_audio_enfant').hide();
             $('#text_typeVideo_message_contes_histoires').hide();

         }
         else if (typeVideo == 3) {
             $('#statusMedia').hide();
             $('#sourcevideoVip').hide();
             $('#upload-mediaVidoe').hide();
             $('#upload-book').hide();
             $('#upload-book-image-couverture').hide();
             $('#contenu-book').hide();
             $('#description-book').hide();
             $('#date-sortie-book').hide();
             $('#edition-book').hide();
       //      $('#price-book').hide();
             $('#blockModeVideo').show();
             $('#upload-mediaMP3').show();
             $('#image-mediaMP3').show();

             $('#upload-book-image-bd').hide();
             $('#text_liver_bd').hide();
             $('#text_typeVideo_message_contes_histoires_enfants').hide();
             $('#text_typeVideo_sourcevideo').hide();
             $('#text_typeVideo_video_mp4').hide();
             $('#text_typeVideo_audio').show();
             $('#text_typeVideo_livre').hide();
             $('#text_typeVideo_audio_enfant').hide();
             $('#text_typeVideo_message_contes_histoires').hide();
         }

         else if (typeVideo == 4) {
             $('#statusMedia').hide();
             $('#sourcevideoVip').hide();
             $('#blockModeVideo').hide();
             $('#upload-mediaVidoe').hide();
             $('#image-mediaMP3').hide();
             $('#upload-mediaMP3').hide();
             $('#upload-book').show();
             $('#upload-book-image-couverture').show();
             $('#description-book').show();
             $('#contenu-book').show();
             $('#date-sortie-book').show();
             $('#edition-book').show();
         //    $('#price-book').show();

             $('#upload-book-image-bd').hide();
             $('#text_liver_bd').hide();
             $('#text_typeVideo_message_contes_histoires_enfants').hide();
             $('#text_typeVideo_sourcevideo').hide();
             $('#text_typeVideo_video_mp4').hide();
             $('#text_typeVideo_audio').hide();
             $('#text_typeVideo_audio_enfant').hide();
             $('#text_typeVideo_livre').show();

             $('#text_typeVideo_message_contes_histoires').hide();
         }
         else if (typeVideo == 5) {
             $('#statusMedia').hide();
             $('#sourcevideoVip').hide();
             $('#upload-mediaVidoe').hide();
             $('#upload-book').hide();
             $('#upload-book-image-couverture').hide();
             $('#contenu-book').hide();
             $('#description-book').hide();
             $('#date-sortie-book').hide();
             $('#edition-book').hide();
           //  $('#price-book').hide();
             $('#blockModeVideo').show();
             $('#upload-mediaMP3').show();
             $('#image-mediaMP3').show();

             $('#upload-book-image-bd').hide();
             $('#text_liver_bd').hide();
             $('#text_typeVideo_message_contes_histoires_enfants').hide();
             $('#text_typeVideo_sourcevideo').hide();
             $('#text_typeVideo_video_mp4').hide();
             $('#text_typeVideo_audio').hide();
             $('#text_typeVideo_audio_enfant').show();
             $('#text_typeVideo_livre').hide();
             $('#text_typeVideo_message_contes_histoires').hide();
         }
   else if (typeVideo == 6) {
             $('#sourcevideoVip').hide();
             $('#upload-mediaVidoe').hide();
             $('#upload-book').hide();
             $('#upload-book-image-couverture').hide();
             $('#contenu-book').show();
             $('#statusMedia').show();
             $('#description-book').show();
             $('#date-sortie-book').hide();
             $('#edition-book').hide();
         //    $('#price-book').hide();
             $('#blockModeVideo').hide();
             $('#upload-mediaMP3').hide();
             $('#image-mediaMP3').show();

             $('#upload-book-image-bd').hide();
             $('#text_liver_bd').hide();
             $('#text_typeVideo_message_contes_histoires_enfants').show();
             $('#text_typeVideo_sourcevideo').hide();
             $('#text_typeVideo_video_mp4').hide();
             $('#text_typeVideo_audio').hide();
             $('#text_typeVideo_audio_enfant').hide();
             $('#text_typeVideo_livre').hide();

             $('#text_typeVideo_message_contes_histoires').hide();
         }

   else if (typeVideo == 7) { 
             $('#statusMedia').hide();
             $('#upload-mediaVidoe').hide();
             $('#upload-book').hide();
             $('#upload-book-image-couverture').hide();
             $('#contenu-book').hide();
             $('#description-book').hide();
             $('#date-sortie-book').hide();
             $('#edition-book').hide();
             $('#upload-book-image-bd').hide();
         //    $('#price-book').hide();
             $('#blockModeVideo').show();
             $('#upload-mediaMP3').show();
             $('#image-mediaMP3').show();

             $('#text_liver_bd').hide();
             $('#text_typeVideo_message_contes_histoires_enfants').hide();
             $('#text_typeVideo_sourcevideo').hide();
             $('#text_typeVideo_video_mp4').hide();
             $('#text_typeVideo_audio').hide();
             $('#text_typeVideo_audio_enfant').hide();
             $('#text_typeVideo_livre').hide();
             $('#text_typeVideo_message_contes_histoires').show();
         }
  else if (typeVideo == 8) {
             $('#statusMedia').hide();
             $('#sourcevideoVip').hide();
             $('#upload-mediaVidoe').hide();
             $('#upload-book').hide();
             $('#contenu-book').hide();

             $('#blockModeVideo').hide();
             $('#upload-mediaMP3').hide();
             $('#image-mediaMP3').hide();
             $('#upload-book-image-couverture').show();
             $('#description-book').show();
             $('#date-sortie-book').show();
             $('#edition-book').show();
         //    $('#price-book').show();
             $('#upload-book-image-bd').show();


             $('#text_liver_bd').show();
             $('#text_typeVideo_message_contes_histoires_enfants').hide();
             $('#text_typeVideo_sourcevideo').hide();
             $('#text_typeVideo_video_mp4').hide();
             $('#text_typeVideo_audio').hide();
             $('#text_typeVideo_audio_enfant').hide();
             $('#text_typeVideo_livre').hide();
             $('#text_typeVideo_message_contes_histoires').hide();
         }
     }
    function validateForm() {


        $('#sendForm').hide();
        $('#loadingsendForm').show();
        $('#sourcevideoVipError').hide();
        $('#mediaVidoeError').hide();
        $('#mediaMP3Error').hide();
        $('#imageMediaMP3Error').hide();
        $('#mediaBookError').hide();
        $('#mediapathBookError').hide();
        $('#mediaBookLiverBdError').hide();
        $('#titleMediaError').hide();

        var radios = document.getElementsByName('typeVideo');

        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                // do whatever you want with the checked radio

                var typeVideo =radios[i].value ;
                // only one radio can be logically checked, don't check the rest
                break;
            }
        }


        var     titleMedia =  $('#titleMedia').val();

        if(titleMedia == ""){
            $('#titleMediaError').show();
            return false;
        }

         if (typeVideo == 1) {

         var     sourcevideoVip =  $('#sourcevideoVip').val();

             if(sourcevideoVip == ""){
                 $('#sourcevideoVipError').show();
                 return false;

              }
         }

          if (typeVideo == 2) {

             var     mediaVidoe =  $('#mediaVidoe').val();

             if ( mediaVidoe == "" ){
                 $('#mediaVidoeError').show();
                 return false;
             }
         }

          if (typeVideo == 3) {

             var     mediaMP3 =  $('#mediaMP3').val();
             if ( mediaMP3 == "" ){
                 $('#mediaMP3Error').show();
                 return false;
             }
            var     imageMediaMP3 =  $('#imageMediaMP3').val();
             if ( imageMediaMP3 == "" ){
                 $('#imageMediaMP3Error').show();
                 return false;
             }

         }
          if (typeVideo == 4) {

             var     mediaBook =  $('#mediaBook').val();
             if ( mediaBook == "" ){
                 $('#mediaBookError').show();
                 return false;
             }

      /*   var     mediapathBook =  $('#mediapathBook').val();
             if ( mediapathBook == "" ){
                 $('#mediapathBookError').show();
                 return false;
             }*/

         }

         return true;
     }


     /**** Add Or Remove user to Box *****/
     function AddLike(id) {
        var nbrLikemediaNbr = $('#nbrLikemediaNbr').val();
        var nbrLikemedia = $('#nbrLikemedia').html();

        var resultat = parseInt(nbrLikemediaNbr) + 1 ;
         $('#nbrLikemediaNbr').val(resultat);
         $('#nbrLikemedia').html(resultat);
         document.getElementById('btn-like').removeAttribute("onclick");
         var data = {
             'id': id
         };
         var url = '{{ path('front_end_add_like_media') }}';
         $.ajax({
             url: url, // La ressource ciblée
             type: 'POST', // Le type de la requête HTTP.
             data: data,
             dataType: "json",
             success: function (data) {



             },

             error: function (response) {
                 console.log(response);
             }
         });
     }



     /**** Add Or Remove user to Box *****/
     function AddOrRemoveBox(id, typeAction, typebox) {
         $('#box').hide();
         $('#loading').show();
         var data = {
             'id': id,
             'typeAction': typeAction,
             'typebox': typebox
         };
         var url = '{{ path('front_end_add_remove_box_ajax') }}';
         $.ajax({
             url: url, // La ressource ciblée
             type: 'POST', // Le type de la requête HTTP.
             data: data,
             dataType: "json",
             success: function (data) {
                 $('#loading').hide();
                 $('#box').html(data.boxHtml);
                 $('#box').show();


             },

             error: function (response) {
                 console.log(response);
             }
         });
     }

     /**** Add Or Remove user to Box *****/
     function AddOrRemoveBoxPersonnage (id, typeAction) {
         $('#box'+id).hide();
         $('#loading'+id).show();
         var data = {
             'id': id,
             'typeAction': typeAction
         };
         var url = '{{ path('front_end_add_remove_box_ajax_personnage') }}';
         $.ajax({
             url: url, // La ressource ciblée
             type: 'POST', // Le type de la requête HTTP.
             data: data,
             dataType: "json",
             success: function (data) {
                 $('#loading'+id).hide();
                 $('#box'+id).html(data.boxHtml);
                 $('#box'+id).show();


             },

             error: function (response) {
                 console.log(response);
             }
         });
     }



     /**** sendNewsletter *****/
     function sendNewsletter()  {

       //  $('#loading').show();
         stats = $("#etat-courant-newsletter").val() ;
         email = $("#email_newslette").val() ;

          if( email != "" ){

              if(ValidateEmail(email) == true) {

              var data = {
                  'newsletter-email': email ,
                  'stats': stats
              };
              var url = '{{ path('front_end_sendNewsletter') }}';
             $.ajax({
                 url: url, // La ressource ciblée
                 type: 'POST', // Le type de la requête HTTP.
                 data: data,
                 dataType: "json",
                 success: function (data) {
                    // $('#loading').hide();

                     if(stats == 1 ){
                         $('#abonner').show();
                     }else{
                         $('#desabonner').show();
                     }
                     $('#messageNewsletter').show();
                     $('#messageNewsletter').html(data.alerte);
                     $("#email_newslette").val("");

                 },

                 error: function (response) {
                     console.log(response);
                 }
             });
                }else{
                    $('#messageNewsletter').show();
                    $('#messageNewsletter').html("Le format de l'adresse électronique n'est pas respecté");
                }
         }else{
             $('#messageNewsletter').show();
             $('#messageNewsletter').html("Champs obligatoire");


         }

     }



     function ValidateEmail(mail)
     {
         var expressionReguliere = /^(([^<>()[]\.,;:s@]+(.[^<>()[]\.,;:s@]+)*)|(.+))@(([[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}])|(([a-zA-Z-0-9]+.)+[a-zA-Z]{2,}))$/;
           if (expressionReguliere.test(mail))
         {
             return true;
         }
         else
         {
             return false;
         }
     }
 </script>
 <script>

(function($){
            $.fn.datepicker.dates['fr'] = {
                days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                daysShort: ["Dim.", "Lun.", "Mar.", "Mer.", "Jeu.", "Ven.", "Sam."],
                daysMin: ["D", "L", "Ma", "Me", "J", "V", "S"],
                months: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
                monthsShort: ["Janv.", "Fevr.", "Mars", "Avril", "Mai", "Juin", "Juil.", "Aout", "Sept.", "Oct.", "Nov.", "Dec."],
                today: "Aujourd'hui",
                monthsTitle: "Mois",
                clear: "Effacer",
                weekStart: 1,
                format: "dd/mm/yyyy"
            };
        }(jQuery));
 $('.selectDatePicker').datepicker({
            language: 'fr',
            autoclose: true,
            todayHighlight: true
        });
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
   /**** End Add Or Remove  user to Box *****/

    $('#mediaMP3').bootstrapFileField({
        fileTypes: 'audio/mp3',
        maxFileSize: 5000000 // 80kb in bytes
    });
    $('#mediaVidoe').bootstrapFileField({
        fileTypes: 'video/mp4',
        maxFileSize: 10000000  // 80kb in bytes
    });


function abonnerOrDesabonner() {
    satus = $("#etat-courant-newsletter").val();
    console.log(satus);

    if ( satus == 1){
        $("#abonner").hide();
        $("#desabonner").show();
        $("#etat-courant-newsletter").val(0);
        $("#btn-abonnee-desabonner").html('Abonnez-vous');
    }else{
        $("#desabonner").hide();
        $("#abonner").show();
        $("#etat-courant-newsletter").val(1);
        $("#btn-abonnee-desabonner").html('Se Désabonner');
    }

}




 </script>
{% block javascripts %}{% endblock %}
<script type="text/javascript" async=true>
    (function()
    {
        var host = window.location.hostname;
        var element = document.createElement('script');
        var firstScript = document.getElementsByTagName('script')[0];
        var milliseconds = new Date().getTime();
        var url = 'https://quantcast.mgr.consensu.org'
            .concat('/choice/', 'EkKePjhcybC6a', '/', host, '/choice.js')
            .concat('?timestamp=', milliseconds);
        var uspTries = 0;
        var uspTriesLimit = 3;
        element.async = true;
        element.type = 'text/javascript';
        element.src = url;

        firstScript.parentNode.insertBefore(element, firstScript);

        function makeStub() {
            var TCF_LOCATOR_NAME = '__tcfapiLocator';
            var queue = [];
            var win = window;
            var cmpFrame;

            function addFrame() {
                var doc = win.document;
                var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

                if (!otherCMP) {
                    if (doc.body) {
                        var iframe = doc.createElement('iframe');

                        iframe.style.cssText = 'display:none';
                        iframe.name = TCF_LOCATOR_NAME;
                        doc.body.appendChild(iframe);
                    } else {
                        setTimeout(addFrame, 5);
                    }
                }
                return !otherCMP;
            }

            function tcfAPIHandler() {
                var gdprApplies;
                var args = arguments;

                if (!args.length) {
                    return queue;
                } else if (args[0] === 'setGdprApplies') {
                    if (
                        args.length > 3 &&
                        args[2] === 2 &&
                        typeof args[3] === 'boolean'
                    ) {
                        gdprApplies = args[3];
                        if (typeof args[2] === 'function') {
                            args[2]('set', true);
                        }
                    }
                } else if (args[0] === 'ping') {
                    var retr = {
                        gdprApplies: gdprApplies,
                        cmpLoaded: false,
                        cmpStatus: 'stub'
                    };

                    if (typeof args[2] === 'function') {
                        args[2](retr);
                    }
                } else {
                    queue.push(args);
                }
            }

            function postMessageEventHandler(event) {
                var msgIsString = typeof event.data === 'string';
                var json = {};

                try {
                    if (msgIsString) {
                        json = JSON.parse(event.data);
                    } else {
                        json = event.data;
                    }
                } catch (ignore) {}

                var payload = json.__tcfapiCall;

                if (payload) {
                    window.__tcfapi(
                        payload.command,
                        payload.version,
                        function(retValue, success) {
                            var returnMsg = {
                                __tcfapiReturn: {
                                    returnValue: retValue,
                                    success: success,
                                    callId: payload.callId
                                }
                            };
                            if (msgIsString) {
                                returnMsg = JSON.stringify(returnMsg);
                            }

                        });
                }
            }
        }

    }
    );
</script>

</body>

</html>
{% endspaceless %}


