

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">  {{'change_password.submit'|trans }}  </span>
        </div>
    </div>
    <div class="portlet-body form">
        {{ form_start(form, {'method': 'post', 'action': path('user_change_password'), 'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-body">
            <div class="form-group">
                <label>{{ form_label(form.current_password  ) }}</label>
                <div class="input-group">
                    <span class="error-message">  {{ form_errors(form.current_password  ) }} </span>
                    {{ form_widget(form.current_password) }}

                </div>
            </div>
            <div class="form-group">
                <label>{{ form_label(form.plainPassword.first  ) }}</label>
                <div class="input-group">
                    <span class="error-message">  {{ form_errors(form.plainPassword.first  ) }} </span>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>
            <div class="form-group">
                <label>{{ form_label(form.plainPassword.second  ) }}</label>
                <div class="input-group">
                    <span class="error-message">  {{ form_errors(form.plainPassword.second  ) }} </span>
                    {{ form_widget(form.plainPassword.second ) }}

                </div>
            </div>






        </div>
        <div class="form-actions">
            <button type="submit" class="btn blue">{{'change_password.submit'|trans }}  </button>
            <a href="{{ path('user_index') }}" type="button" class="btn default">{{ 'btn.cancel'|trans }} </a>
        </div>
        {{ form_end(form) }}
    </div>
</div>


