<div class="col-md-12">

    <h3>{{ 'collection_tourne'|trans }}</h3>


    <div class="list-vip">
{% for item in listeVIP %}
        {% if ( app.user == null   or  item.id != app.user.id )  %}

        <div class="vip-block clearfix">

            <div class="vip-img img-resize imgLiquid">
             <a href="{{ path('collection',{'activeTab': "vip" ,'fullName' : item.username , 'id': item.id}) }}" >  {% if item.pictureprofil != null %}
                    <img src="{{ path_picture ~ item.pictureprofil }}" >
                {% else %}
                    <img src="{{ asset('assets/images/avatar.png') }}" >
                {% endif %} </a></div>

            <div class="vip-info">
                <a href="{{ path('collection',{'activeTab': "vip" ,'fullName' : item.username  , 'id': item.id}) }}" > 
                <span> 
                   
              
                {% if   item.fan == 1 %}   <i class="zmdi zmdi-accounts-alt"></i>&nbsp; {% endif %} 
                
                {{   item.prenom ~" "~   item.nom }}
                {% if   item.roles[0] == "ROLE_VIP"   and item.fan == 0 %}
                        {% set numbre_etoile = 0 %}
                        {% if   item.id|countNbrFans  > 0  %}
                        {% set numbre_etoile = 1 %}
                        {% elseif   item.id|countNbrFans  > 10000  %}
                        {% set numbre_etoile = 2 %}
                        {% elseif   item.id|countNbrFans  > 100000  %}
                        {% set numbre_etoile = 3 %}
                        {% elseif   item.id|countNbrFans  > 1000000  %}
                            {% set numbre_etoile = 4 %}
                    
                        {% endif %}
                        {% if numbre_etoile > 0 %}
                    {% for i in 1..numbre_etoile %}
                    <i class="zmdi zmdi-star" style="color: yellow;margin-left: 1px;"></i>
                    {% endfor %}
                        {% endif %}
                {% endif %}
    
                 </span>
                </a>
            </div>


        </div>
{% endif %}
{% endfor %}
    </div>


</div>
