<div class="tab-pane {% if activeTab == "magazinegallery" %} active {% endif %}" id="tab8">
    <div class="col-md-12 col-xs-12"><h4>{{ 'collection_add_picture'|trans }}</h4></div>


    <div class="col-md-12 col-xs-12">
        {% for flashMessage in app.session.flashbag.get('magazinegallerysuccess') %}

            <div class="alert alert-success alert-block"><a href="#" data-dismiss="alert" class="close">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}

    </div>

        <form action="{{ path('collection_add_magazinegallery',{'activeTab': "magazinegallery" }) }}" method="post" enctype="multipart/form-data">


            <div class="form-group clearfix" >
                <div class="col-md-8 mag-bttom-sm">
                    <input type="file" name="picture"
                           data-field-type="bootstrap-file-filed"
                           data-file-types="image/jpeg,image/png,image/gif"
                           data-preview="on">

                </div>
            </div>


            <div class="form-group">

                <div class="login-button col-md-8 ">

                    <input type="submit" class="btn btn-orange" name="ajouter" value="{{ 'btn.add'|trans }}">
                </div>

            </div>

        </form>

    <div class="col-md-12">
        <hr/>
    </div>
    {% if listePhotos|length > 0 %}
    <div class="col-md-12"><h3>{{ 'photos'|trans }}</h3></div>
    <div class="clearfix"></div>


    <div class="list-images clearfix">
        {% for item in listMagazinegalleries %}
            <div class="col-md-4 col-xs-12 col-sm-4 margin-bottom-40">

                <div class="image-holder-content">

                    <div class="small-photo-vip img-resize imgLiquid">

                        <img src="{{ path_picture ~ item.picture }}">
                        <a href="{{ path('collection_state_magazinegallery' ,{'id' : item.id}) }}" > <button class="shown-btn btn">
                            <i class="zmdi {% if item.state == 1 %} zmdi-eye {% else %} zmdi-eye-off {% endif %}"></i></button></a>

                    </div>

                    {% if (app.user != null  and member.id == app.user.id ) %}

                    <a class="delete-btn" type="button" onclick="OpenmodalMagazinegalleries({{ item.id }})">
                        <i class="zmdi zmdi-close"></i></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% endif %}
</div>