{% extends '::content-backend.html.twig' %}

{% block title %}
    {% set menuactive = app.session.get('menuactive') %}
    {% if menuactive == "crosswordvip" %}
        {{ 'page.crosswordvip'|trans }}
    {% else %}
        {{ 'page.crosswordadmin'|trans }}
    {% endif %}

{% endblock %}

{% block hiarche %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>  <a href="{{ path('rendezvous_index')}}"> <span>  {{ 'page.crosswordadmin'|trans }} </span></a>

           <i class="fa fa-circle"></i> </li>
            <li>
                <a href="#"> <span>{% if id != null  %} {{ 'page-breadcrumb.edit'|trans }} {% else %} {{ 'page-breadcrumb.add'|trans }} {% endif %} </span></a>
            </li>
        </ul>
    </div>
    {% endblock %}
    {% block body %}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">  {% if id != null  %} {{ 'page-breadcrumb.edit'|trans }} {% else %} {{ 'page-breadcrumb.add'|trans }} {% endif %}  </span>
        </div>
    </div>
    <div class="portlet-body form">
        {{ form_start(form, {'method': 'post', 'action': path('rendezvous_edit',{'id': id }), 'attr': {'class': 'form-horizontal'}}) }}


        <div class="form-body">

            <div class="form-group">
                <label>{{ form_label(form.vip  ) }}</label>
                <div class="input-group">
                    <span class="error-message">  {{ form_errors(form.vip  ) }} </span>
                    {{ form_widget(form.vip) }}

                </div>
            </div>

           <div class="form-group">
                <label>{{ form_label(form.title  ) }}</label>
                <div class="input-group">
                    <span class="error-message">  {{ form_errors(form.title  ) }} </span>
                    {{ form_widget(form.title) }}

                </div>
            </div>


        <div class="form-group">
                <label>{{ form_label(form.startDate  ) }}</label>
                <div class="input-group">
                    <span class="error-message">  {{ form_errors(form.startDate  ) }} </span>
                    {{ form_widget(form.startDate) }}

                </div>
            </div>

  <div class="form-group">
                <label>{{ form_label(form.endDate  ) }}</label>
                <div class="input-group">
                    <span class="error-message">  {{ form_errors(form.endDate  ) }} </span>
                    {{ form_widget(form.endDate) }}

                </div>
            </div>


        </div>
        <div class="form-actions">
            <button type="submit" class="btn blue">{{ 'btn.save'|trans }}  </button>

            <a href=" {{ path('rendezvous_index') }}" type="button" class="btn default">{{ 'btn.cancel'|trans }} </a>
        </div>
        {{ form_end(form) }}
    </div>
</div>




{% endblock %}

