
{% set numbre = 0 %}
{% if Listealerte != null %}
    {% set numbre = numbre + Listealerte|length %}
{% endif %}
{% if alerteRendezvous != null %}
    {% set numbre = numbre + alerteRendezvous|length %}
{% endif %}
     {% if numbre > 0 %}
         {% for item in Listealerte %}
             <div class="item-timeline {% if item.typemedia.title == "cinema" %} cinema  {% elseif item.typemedia.title == "programme" %} tv  {% elseif item.typemedia.title == "concert" %}  concert {% elseif item.typemedia.title == "spectacle" %} spectacle {% elseif item.typemedia.title == "radio" %} radio {% else %} peoples {% endif %}">
                 <div class="date-timeline">
                     <span><a href="{{ path('front_end_show_media',{'id': item.id}) }}" >{{  item.title[:13] }}</a></span>
                     <small><a href="{{ path('front_end_show_media',{'id': item.id}) }}" >{{ item.channel }}</a></small>
                     <h5><a href="{{ path('front_end_show_media',{'id': item.id}) }}" >{{ item.startdate|date('d-m-Y')~" "~ item.starttime  }}</a></h5>
                 </div>
                 <div class="content-timeline">
                     <div class="img-timeline">
                         <div class="img-size " >
                             <img src="{{ path_picture ~ item.picture }}" alt="" class="img-rounded img-alert"  />
                         </div>
                     </div>
                     <p>{{ item.shortdescription[:90] }} ...</p>

                 </div>
             </div>

         {% endfor %}
      {% for item in alerteRendezvous %}
             <div class="item-timeline  calander">
                 <div class="date-timeline">
                     <span><a href="{{ path('collection',{'activeTab': "rendez-vous" , 'fullName': item.vip.username , 'id': item.vip.id}) }}" >{{  item.title }}</a></span>
                     <h5><a href="{{ path('collection',{'activeTab': "rendez-vous" ,  'fullName': item.vip.username  ,'id': item.vip.id}) }}" >

                          {% if item.startDate ==  item.endDate %}
                              {{ item.startDate|date('d-m-Y')  }}
                             {% else %}
                                 {{ item.startDate|date('d-m-Y') ~" à "~ item.endDate|date('d-m-Y')  }}
                             {% endif %} :
                             {{  item.startheur ~" à "~  item.endheur }}

                         </a></h5>
                 </div>
                 <div class="content-timeline">
                     <div class="img-timeline">
                         <div class="img-size " >

                                 <img src="{% if item.vip.pictureprofil != null %}
                                                    {{ path_picture ~ item.vip.pictureprofil }}
                                            {% else %}
                                                   {{ asset('assets/images/avatar.png') }}
                                            {% endif %}
                                            " class="img-rounded img-alert" >

                         </div>
                     </div>
                     <p>
                         {{  item.description[:90] }} ...</p>

                 </div>
             </div>

         {% endfor %}
     {% else %}
         <div class="no-image">

                 <img src="{{ asset("assets/images/alerte.jpg") }}" style=" width: 100%; height: 325px;" >

         </div>

     {% endif %}

