
{% for entity in tousPeoplescrollInfini  %}
    <div class="col-md-3 col-xs-12 col-sm-4 item" id="{{ entity.id }}" >
        <div class="post video-post" style="height: 335px !important;">
            <div class="inner-post" style="height: 335px !important;" >
                <div class="image-post"  >
                    <div class="ribbon "><span>{{ entity.startdate|date('d') }}</span><small>{{ entity.startdate|date('m') }}</small><span>{{ entity.startdate|date('Y') }}</span></div>

                    <div class="img-resize ">
                        {% if entity.pictureHome != null %}
                            <img src="{{ path_picture ~ entity.pictureHome }}" >
                        {% elseif entity.picture != null %}
                            <img src="{{ path_picture ~ entity.picture }}"  >
                        {% elseif entity.backgroundpicture != null %}
                            <img src="{{ path_picture ~ entity.backgroundpicture }}"  >
                        {% else %}
                            <img src="{{ asset('assets/images/no-image.jpg') }}"  >
                        {% endif %}
                    </div>
                </div>
                <div class="inner-post-content" style="height: 115px;   border: 1px solid #a7a7a7cc; padding: 10px !important;">
                <h3><a href="{{ path('front_end_show_media',{'id': entity.id}) }}">

                            {% if entity.titleHome != null  %} {{ entity.titleHome[:20] }} {% else %} {{ entity.title[:20] }} {% endif %} ..
                        </a></h3>
                    <p>{{ entity.shortdescription[:80] }}
                        {% if entity.shortdescription|length > 80    %} .. {% endif %}

                        <br/>

                        <span>  {{ entity.channel }}</span>

                        {% if entity.title  in [ 'programme'  , 'concert' , 'radio' , 'spectacle' ] %}

                            <span>
                                            <i class="glyphicon glyphicon-time"></i>

                                {% set timeResultat = entity.id|getTimeStart %}
                                {% if timeResultat != null %}
                                    {{ timeResultat}}
                                {% endif %}
                                        </span>
                        {% endif %}


                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
            